:root {
    --clr-dark: rgba(23, 23, 23, 0.505);
    --clr-light: #fcfcfc;
}

@font-face {
    font-family: "Norse-Bold";
    src: url(../fonts/Norse-Bold.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
}

a {
    color: var(--clr-light);
}

a:visited {
    color: var(--clr-light);
}

form {
    width: 100%;
}

label {
    display: block;
    letter-spacing: .1em;
    font-size: .8em;
}

#img-container {
    background-image: url(../images/joel-jasmin-forestbird-efuwb5eBDrI-unsplash.jpg);
    background-size: cover;
    height: 100vh;
    width: 800px;
    display: flex;
    flex-direction: column;
}

#logo {
    margin-top: 175px;
    background-color: var(--clr-dark);
    height: 130px;
    font-family: "Norse-Bold", sans-serif;
    font-size: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

#logo img {
    height: 100px;
    object-fit: cover;
}

#logo p {
    color: var(--clr-light);
    text-align: center;
}

#img-footer {
    margin-top: auto;
    padding: 10px;
    color: var(--clr-light);
    font-size: .8em;
    text-align: center;
}

#message-container {
    width: 100%;
}

#login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#message-container {
    margin-top: 30px;
    font-size: 25px;
    font-weight: bold;
    padding: 50px;
}

#message-container p {
    margin-top: 20px; 
}

#form-group {
    display: flex;
    flex-direction: column;
    padding: 0 50px 50px 50px;
    box-shadow: 5px 5px 5px rgba(32, 31, 31, 0.223);
}

#form-group h2 {
    padding-bottom: 20px;
    margin-top: 20px;
}

#form-group fieldset{
    border: 0;
    display: flex;
    gap: 100px;    
}

#form-group fieldset p {
    margin-bottom: 10px;
}

#form-group fieldset input {
    width: 350px;
    font-size: 18px;
    padding: 8px;
    border-radius: 5px;
    border: 2px solid #E5E7EB;
}

#form-group fieldset input:focus {
    border: 2px solid #E5E7EB;
    outline: 2px solid rgb(58, 124, 255);
}

#form-group fieldset input[type="password"]:focus {
    outline: none;
}

#form-group fieldset input[type="password"]:invalid {
    border: 2px solid #e73030;
}

#form-group fieldset input[type="password"]:valid {
    outline: 2px solid rgb(58, 124, 255);
}

#form-footer {
    padding: 20px 50px;
}

#btn {
    width: 200px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #6299ff;
    color: var(--clr-light);
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 20px;
}

#form-footer a {
    color: #6299ff;
}